{% extends 'kewayy_app/base.html' %}
{% load staticfiles %}
{% load kewayy_template_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block js_block %}
    <script src="{% static 'js/delete_confirmation.js' %}"></script>
{% endblock %}

{% block title_block %}
    {{ story.name }}
{% endblock %}

{% block body_block %}

    {% include 'kewayy_app/edit_story_modal.html' %}
    {% include 'kewayy_app/create_test_case_modal.html' %}
    {% include 'kewayy_app/delete_test_case_confirmation_modal.html' %}

    <div class="row">
        <!--Story Sidebar-->
        {% show_story_sidebar story %}
        <div class="col my-3">
            <div class="jumbotron py-3">
                <h1 class="display-4">{{ story.name }}</h1>

                <!--Description-->
                {% if story.description %}
                    <p class="lead">{{ story.description }}</p>
                {% endif %}

                <!--Reference URL-->
                {% if story.reference_url %}
                    <div class="my-2">
                        Reference: <a href="{{ story.reference_url }}" target="_blank">{{ story.reference_url }}</a>
                        <br>
                    </div>
                {% endif %}

                <!--Toggle Edit Story Modal-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStoryModal">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>

            {% for test_case in test_cases %}
                {% show_test_case test_case %}
            {% empty %}
                <p>There are no Test Cases yet...</p>
            {% endfor %}

            <!--Create Test Case Button-->
            <button id="createTestCaseButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTestCaseModal">
                <i class="fas fa-plus"></i> Create Test Case
            </button>
        </div>
    </div>
{% endblock %}