{% extends 'kewayy_app/base.html' %}
{% load staticfiles %}
{% load kewayy_template_tags %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title_block %}
    {{ story.name }}
{% endblock %}

{% block body_block %}
    <!--Edit Story Modal-->
    <div class="modal fade" id="editStoryModal" tabindex="-1" role="dialog" aria-labelledby="editStoryModalLabel">
        <div class="modal-dialog" role="document">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editStoryModalLabel">Edit Story</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>This is the modal's body</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-window-close"></i> Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" name="saveEditedStory">
                            <i class="fas fa-save"></i> Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--Create Test Case Modal-->
    <div class="modal fade" id="createTestCaseModal" tabindex="-1" role="dialog" aria-labelledby="createTestCaseModalLabel">        
        <div class="modal-dialog" role="document">
            <form role="form" id="createTestCaseForm" method="POST" action="{% url 'kewayy_app:create_test_case' story.slug %}">
                {% csrf_token %}
                
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTestCaseModalLabel">Create Test Case</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ create_tc_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-window-close"></i> Cancel
                        </button>
                        <button type="submit" class="btn btn-primary" name="createTestCase">
                            <i class="fas fa-plus"></i> Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <!--Story Sidebar-->
        {% show_story_sidebar story %}
        <div class="col my-3">
            <div class="jumbotron py-3">
                <h1 class="display-4">{{ story.name }}</h1>

                <!--Description-->
                {% if story.description %}
                    <p class="lead">{{ story.description }}</p>
                {% endif %}

                <!--Reference URL-->
                {% if story.reference_url %}
                    <div class="my-2">
                        Reference: <a href="{{ story.reference_url }}" target="_blank">{{ story.reference_url }}</a>
                        <br>
                    </div>
                {% endif %}

                <!--Toggle Edit Story Modal-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStoryModal">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>

            {% for test_case in test_cases %}
                {% show_test_case test_case %}
            {% empty %}
                <p>There are no Test Cases yet...</p>
            {% endfor %}

            <!--Create Test Case Button-->
            <button id="createTestCaseButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTestCaseModal">
                <i class="fas fa-plus"></i> Create Test Case
            </button>
        </div>
    </div>
{% endblock %}