{% extends 'kewayy_app/base.html' %}
{% load staticfiles %}
{% load kewayy_template_tags %}

{% block title_block %}
    {{ story.name }}
{% endblock %}

{% block body_block %}
    <div class="row">
        {% show_story_sidebar story %}
        <div class="col my-3">
            <div class="jumbotron py-3">
                <h1 class="display-4">{{ story.name }}</h1>

                <!--Description-->
                {% if story.description %}
                    <p class="lead">{{ story.description }}</p>
                {% endif %}

                <!--Reference URL-->
                {% if story.reference_url %}
                    <div class="my-2">
                        Reference: <a href="{{ story.reference_url }}" target="_blank">{{ story.reference_url }}</a>
                        <br>
                    </div>
                {% endif %}

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editStoryModel">
                    <i class="fas fa-edit"></i> Edit
                </button>
            </div>

            <div class="card">
                <div class="card-header">
                    Test Cases
                </div>
                <div class="card-body">
                    {% for test_case in test_cases %}
                        {% show_test_case test_case forloop.counter %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}