<!--Sidebar-->
<div class="col-sm-12 col-md-3 col-xl-2 my-3">
    <div class="card bg-dark text-white text-center">
        <div class="card-header">
            Stories
        </div>
        <div class="card-body">
            <a class="btn btn-primary btn-lg" href="#">
                <i class="fas fa-plus"></i> Create
            </a>
            <hr>
            <ul class="list-group mt-2">
                {% for s in all_stories %}
                    <li class="list-group-item">
                        <a href="{% url 'kewayy_app:show_story' s.slug %}">
                                <i class="fas fa-book-open"></i> {{ s.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>