<div class="card bg-dark text-light p-2 my-3" id="testcase{{ test_case.position }}">
    <div class="row">
        <div class="col-sm-12 col-md-2">

            <!--Dropdown Menu-->
            <div class="dropdown">
                <button class="btn btn-secondary" type="button" id="testcaseDropdown{{ test_case.position }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="testcaseDropdown{{ test_case.position }}">
                    <!--Dropdown Header-->
                    <h6 class="dropdown-header">Test Case {{ test_case.position }}</h6>

                    <!--Edit Button-->
                    <a class="dropdown-item" href="{% url 'kewayy_app:edit_test_case' test_case.pk %}">
                        <i class="fas fa-edit"></i> Edit
                    </a>

                    <div class="dropdown-divider"></div>

                    {% if test_case.position > 0 %}
                        <form role="form" method="POST" action="{% url 'kewayy_app:change_test_case_position' test_case.pk '-1' %}">
                            {% csrf_token %}
                            <button class="dropdown-item">
                                <i class="fas fa-chevron-up"></i> Move Up
                            </button>
                        </form>
                    {% endif %}

                    {% if test_case.position < test_case.story.last_test_case_index %}
                        <form role="form" method="POST" action="{% url 'kewayy_app:change_test_case_position' test_case.pk '1' %}">
                            {% csrf_token %}
                            <button class="dropdown-item">
                                <i class="fas fa-chevron-down"></i> Move Down
                            </button>
                        </form>
                    {% endif %}

                    <div class="dropdown-divider"></div>
    
                    <button class="dropdown-item" data-toggle="modal" data-target="#confirmDeleteModal" data-testcasehref="{% url 'kewayy_app:delete_test_case' test_case.pk %}" data-testcasecriteria="{{ test_case.criteria }}">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                </div>
            </div>

            <div class="text-center">
                <!--Passed?-->
                <form role="form" method="POST" action="{% url 'kewayy_app:change_test_case_status' test_case.pk %}">
                    {% csrf_token %}

                    <button class="btn btn-sm" type="submit" name="updateTestCaseStatus">
                        {% if test_case.status == None %}
                            <!--Hasn't been tested yet-->
                            <span class="badge badge-warning"><i class="fas fa-question-circle"></i> Not tested</span><br>
                        {% else %}
                            {% if test_case.status %}
                                <!--Passed-->
                                <span class="badge badge-success"><i class="fas fa-check-circle"></i> Passed</span><br>
                            {% else %}
                                <!--Failed-->
                                <span href="#" class="badge badge-danger"><i class="fas fa-times-circle"></i> Failed</span><br>
                            {% endif %}
                        {% endif %}
                    </button>
                </form>

                <!--Automated?-->
                {% if test_case.is_automated %}
                    <span class="badge badge-info"><i class="fas fa-robot"></i> Automated</span>
                    <br>
                {% endif %}

                <!--Tags-->
            
            </div>

        </div>
        <div class="col-sm-12 col-md">
            <h6 class="card-title"><i class="fas fa-clipboard"></i> Criteria</h6>
            <textarea class="form-control readonly-textarea mb-3" rows="4" readonly>{{ test_case.criteria }}</textarea>
        </div>
        <div class="col">
            <h6 class="card-title"><i class="fas fa-sticky-note"></i> Notes</h6>
            <textarea class="form-control readonly-textarea mb-3" rows="4" readonly>Sample notes...</textarea>
        </div>
    </div>
</div>